<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Actores</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>

<body>

	<div class="container">


		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">STAR WARS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/api/v1/films}">Peliculas</a>
					<a class="nav-link" href="#">Actores</a>
					<a class="nav-link" href="#">Planetas</a>
					<a class="nav-link" href="#">Especies</a>
				</div>
			</div>
		</nav>

		<br><br>
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center text-primary">Lista de Actores</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">

				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Altura</th>
							<th scope="col">Peso</th>
							<th scope="col">Color de Cabello</th>
							<th scope="col">Color de Ojos</th>
							<th scope="col">Cumpleaños</th>
							<th scope="col">Peliculas</th>
							
						</tr>
					</thead>
					<tbody>
						<span th:each="actor: ${actores}">

							<tr th:each="people: ${actor.results}">


								<td th:text="${people.name}"></td>
								<td th:text="${people.height}"></td>
								<td th:text="${people.mass}"></td>
								<td th:text="${people.hair_color}"></td>
								<td th:text="${people.eye_color}"></td>
								<td th:text="${people.birth_year}"></td>
								<td th:text="${people.films}"></td>
								<!--
								<span th:each="personas: ${people.films}">
									<td><a th:href="${actors}">Ver Pelicula</a></td>
								</span>
								-->

							</tr>
						</span>

					</tbody>
				</table>

			</div>
		</div>
	</div>

	

</body>

</html>